<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>DOM型XSS</title>
</head>
<body>
<form name="XSs" method="GET">
<select name="default">
  <script>
    if (document.location.href.indexOf("default=") >= 0) {
      var lang = document.location.href.substring(document.location.href.indexOf("default=")+8);
      document.write("<option value='" + lang + "'>" + decodeURI(lang) + "</option>");
      document.write("<option value='' disabled='disabled'> ----</option>");
    }
    document.write("<option value='English'>English</option>");
    document.write("<option value='French'>French</option>");
    document.write("<option value='Spanish'>Spanish</option>");
    document.write("<option value='German'>German</option>");
  </script>
</select>
<input type="submit” value="Select” />
</form>
</body>
</html>